@model AjaxSweetAlert.Models.Sector

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="row">
    <div class="col-xxl-12">
        <div class="card-header mb-5">
            <h3>
                Add new sector
            </h3>
        </div>
        <div class="card-body">
            <form id="ajaxAddPost" asp-action="Add">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div>
                    <label asp-for="Description" class="form-label"></label>
                    <input asp-for="Description" class="form-control" />
                    <span asp-validation-for="Description" class="text-danger"></span>
                </div>

                <input value="submit" onclick="addAjaxFunc()" type="button" class="btn btn-success" />
            </form>
        </div>
    </div>
</div>

@section scripts{
    <script type="text/javascript">

        var addAjaxFunc = function() {
            $.ajax({
                type: "POST",
                url: "/Sector/Add",
                data: $("#ajaxAddPost").serialize(),
                contentType: "application/x-www-form-urlencoded; charset=UTF-8",
                success: function(modeldenGelenCevap) {
                    Swal.fire
                        ({
                            title: (modeldenGelenCevap == "ok") ? 'Kaydetme işlemi başarılı' : 'Hata oldu!',
                            position: 'top-end',
                            icon: (modeldenGelenCevap == "ok") ? 'success' : 'error',
                            timer: 4000,
                            timerProgressBar: true,
                            showConfirmButton: false,

                        }).then(function(yukaridanGelenDeger) {
                            if (modeldenGelenCevap == "ok")
                                window.location.href = "/Sector/Index";
                        })
                },
                error: function() {
                    alert("ohooo hata oldu!!!");
                }
            });
        }
        
    </script>
}